/*medium devices and smaller will need to scroll*/
@media (max-width: 767.98px) {
    /*as much space as viewport needs*/
    html, body {
        height: auto;
    }
}
@media (min-width: 767.98px) {
    /*full size of viewport*/
    html, body {
        height: 100%;
    }
}
/*makes background work*/
html {
    background: url("images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}
body {
    background-color: transparent;
}
/*background and font colors*/
nav, footer, .jumbotron {
    background-color: rgba(255,214,98,0.8);
    color: white;
}
a {
    color: white;
}
.clickme, .clickme:hover {
    color:rgb(165, 236, 255);
}
/*makes navbar work*/
.navbar {
    padding: 0;
}
.navbar-toggle {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 24px;
}
.navbar-nav .nav-item:hover a {
    background-color: rgba(255,214,98,0.95);
    color: white;
}
/*gets rid of annoying footer list margin*/
.list-unstyled {
    margin: 0;
}
/*makes jumbotron more comfortable to look at*/
.jumbotron {
    margin: 1rem;
    padding: 1.5rem;
}
.fa-bars, .fa-linkedin, .fa-github, .fa-envelope {
    color: white;
    font-size: 2rem;
}